* {
    padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
    padding: 0;
    padding-top: 40px;
    margin: 0;
    /* Ubicación de la imagen */
    background-image: url(../img/fondo.png);
    /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    background-color: #27bdf8;
    /* background: linear-gradient(to right, #4ebdf0, #FFC107);*/
    
}

.container{
    min-height: 100%;
	
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
}